/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Pacifico&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*,*:focus,*:hover{
  outline:none;
}

:root {
  --light-green: #F0F5E6;
  --medium-green: #457A14;
  --dark-green: #234A0F;

  --toastify-icon-color-success: #457A14;
  --toastify-color-progress-success: #457A14;

  font-family: 'Montserrat', Helvetica, sans-serif;
  font-family: "Segoe UI", sans-serif;
  line-height: 1.5;

  color-scheme: light dark;
  color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--medium-green);
  text-decoration: inherit;
}

.nav-desktop {
  display: none;
}

a:hover {
  color: var(--dark-green);
}

body {
  margin: 0;
  background-color: var(--light-green);
}

h1 {
  font-family: 'Pacifico', cursive;
  font-size: 3.2em;
  line-height: 1.1;
  color: var(--medium-green);
  margin-top: 0;
  margin-bottom: 0;
}

h2 {
  font-family: 'Montserrat', system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 1.3rem;
  color: var(--dark-green);
}

button {
  border-radius: 100px;
  border: 1px solid transparent;
  padding: 0.5rem 1rem 0.5rem 1rem;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--dark-green);
  color: white;
  cursor: pointer;
  transition: 0.3s ease;

}
button:hover {
  background: var(--medium-green);
  transition: 0.3s ease;
}
button:focus,
button:focus-visible {
  outline: none;
}

.btn--secondary {
  background-color: transparent;
  color: var(--dark-green);
  border: 3px solid var(--dark-green);
  border-radius: 100px;
}

.btn--secondary:hover {
  background-color: var(--dark-green);
  color: white;
}

.btn--ternair {
  background: transparent;
  color: var(--dark-green);
  text-decoration: underline;
}

.btn--ternair:hover {
  background: transparent;
  color: var(--medium-green);
}

.btn--delete {
  cursor: pointer;
  path {
    stroke:rgb(165, 0, 0);
  }
}

.btn--delete:hover {
  path {
    stroke:rgb(212, 0, 0);
  }
}

.btn--grey {
  background-color: grey;
}

.btn-edit {
  cursor: pointer;
  path {
    stroke: var(--dark-green)
  }
}
.btn-edit:hover {
  cursor: pointer;

  path {
    stroke: var(--medium-green)
  }
}

.button--confirm-delete {
  background: rgb(165, 0, 0);
}
.button--confirm-delete:hover {
  background: rgb(191, 0, 0);
}

.button--cancel {
  background: grey;
}
.button--cancel:hover {
  background: lightgray;
}

button:disabled {
  opacity: 0.4;
  cursor:unset;
}

button:disabled {
  background: var(--dark-green);
}

input, textarea, select {
  border: 0.1rem solid var(--dark-green);
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  background: transparent;
  font-size: 1rem;
  color: black;
}

form input, form textarea {
  width: 100%;
  margin-top: 5px;
}

input {
  background: #f4f0f1;
  border: none;
  border-radius: 10px;
}

input:hover {
  box-shadow:#9eb599 0 0 0 2px;
}

input:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

input:disabled:hover {
  box-shadow: none;
}

input::file-selector-button {
  border-radius: 1rem;
  border: 1px solid transparent;
  padding: 0.5rem 1rem 0.5rem 1rem;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--dark-green);
  color: white;
  cursor: pointer;
  transition: border-color 0.25s;
}

.breadcrumb {
  margin: 0;
  font-size: 0.8rem;
}


@media (prefers-color-scheme: light) {
  :root {
    color: black;
    background-color: var(--light-green);
  }
  a:hover {
    color: var(--dark-green);
  }
}

/* Media query voor tablets (schermen groter dan 768px) */
@media (min-width: 768px) {
  .container {
      width: 80%;
      margin: 0 auto;
  }
  h2 {
    font-size: 1.8rem;
  }
  .navbar {
    display: none;
  }
}

/* Media query voor desktops (schermen groter dan 1024px) */
@media (min-width: 1024px) {

  .header-desktop {
    .logo {
      width: 120px;
    }
  }

}
