.profile {
  background: white;
  padding-bottom: 50px;
  padding-top: 100px;
  .breadcrumb {
    padding: 0 5%;
  }
  .favorites {
    padding: 0 5%;
    .favorites-plants-item {
      border: 0.1rem solid var(--dark-green);
      background: var(--dark-green);
      color: white;
      padding: 0.5rem 1rem;
      border-radius: 20px;
      transition: 0.3s ease;
    }
    .favorites-plants-item:hover {
      border: 0.1rem solid var(--medium-green);
      background: var(--medium-green);
    }
  }
  .places {
    padding: 0 5%;
    .place-item {
      background: var(--light-green);
    }
  }
  .settings {
    padding: 0 5%;    
  }
  .notifications {
    padding: 0 5%;
  }
}

.account {
  padding-top: 100px;
  .avatar-edit-label {
    position: absolute;
    bottom: 0;
    background: var(--dark-green);
    color: white;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s ease;
    label {
      cursor: pointer;
    }
  }
  .breadcrumb {
    padding: 0 5%;
  }
  .form-account {
    padding: 0 5%;
    padding-bottom: 20px;
  }
  .editProfile-form {
    max-width: 400px;
    width: 100%;
    padding: 10px 5%;
    margin: 0 auto;
    margin-top: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px #f4f0f1;
    h3 {
      margin: 0 0 10px 0;
    }
    input {
      width: 90%;
    }
    button {
      margin-top: 20px;
    }
  }
}

.avatar-edit-label:hover {
  background: var(--medium-green);
  /* transition: 0.3s ease; */
}

.avatar-section {
  position: relative;
  margin-top: 20px;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 0 auto;
}

.avatar-image {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  padding: 20px;
  border-radius: 100%;
  margin: 0 auto;
  padding: 0;
  border: 0.2rem solid var(--dark-green);
}

.profile-avatar {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  padding: 20px;
  border-radius: 100%;
  margin: 0 auto;
  color: white;
  font-size: 3rem;
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.avatar-no-image {
  /* background: #f4f0f1; */
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  flex-direction: row;
  flex-wrap: wrap;
  color: white;
}

.profile-edit {
  text-transform: uppercase;
}

.profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: var(--dark-green);
  h3 {
    margin-left: 1rem;
  }
  button {
    background: transparent;
    color: var(--dark-green);
    border: 0.1rem solid var(--dark-green);
    font-size: 0.9rem;
  }
  button:hover {
    background: var(--dark-green);
    color: white;
  }
}

.profile-info--left {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.profile-details {
  h2 {
    margin: 0 0 0 1rem;
  }
  p {
      margin: 0 0 0 1rem;
  }
}
.profile.open {
  right: 0;
}

.close-button {
  background: none;
  border: none;
  cursor: pointer;
  transition: 0.3 ease-in-out;
  transform: rotate(180deg);
}


.logout-button {
  background: transparent;
  color: rgb(103, 0, 0);
  border: 0.15rem solid rgb(103, 0, 0);
}
.logout-button:hover {
  background: rgb(103, 0, 0);
  color: white;
  border: 0.15rem solid rgb(103, 0, 0);
}
  