.login-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    .login-flow {
        .input-group {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 1rem;
        }
    }
}

.login {
    display: flex;
    flex-direction: column;
    background: var(--light-green);
}

.login-register {
    display: flex;
    align-items: center;
}

.login-form {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    margin: 0 auto;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px #f4f0f1;
    label {
        display: flex;
    }
    button {
        margin: 0 auto;
        width: 100%;
        padding: 1rem 0 1rem 0;
        border-radius: 100px;
    }
}

.login-input {
    display: flex;
    align-items: center;
    position: relative;
    svg {
        position: absolute;
        left: 10px;
        path {
            fill: #9eb599;
        }
    }
    input {
        background: #f4f0f1;
        border: none;
        border-radius: 10px;
    }
    input:hover {
        box-shadow:#9eb599 0 0 0 2px;
    }
    input:focus {
        box-shadow: 0 0 0 2px var(--medium-green), 0 0 0 6px rgba(158, 181, 153, .2) !important;
    }
}

