.login-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    .login-flow {
        .input-group {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 1rem;
        }
    }
}

.login {
    display: flex;
    flex-direction: column;
    background: var(--light-green);
    padding-top: 100px;
    h2 {
        margin: 0;
    }
}

.login-register {
    display: flex;
    align-items: baseline;
    p {
        margin-top: 10px;
        margin-bottom: 5px;
    }
    a {
        margin-left: 10px;
    }
}

.login-form {
    max-width: 200px;
    width: 100%;
    padding: 20px;
    margin: 0 auto;
    margin-bottom: 40px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px #f4f0f1;
    label {
        display: flex;
        margin-top: 10px;
    }
    button {
        margin: 0 auto;
        margin-top: 20px;
        width: 100%;
        padding: 1rem 0 1rem 0;
        border-radius: 100px;
    }
}

.login-input {
    display: flex;
    align-items: center;
    position: relative;
    svg {
        position: absolute;
        left: 10px;
        path {
            fill: #9eb599;
        }
    }
    input {
        background: #f4f0f1;
        border: none;
        border-radius: 10px;
        color: var(--dark-green);
    }
    input:hover {
        box-shadow:#9eb599 0 0 0 2px;
    }
    input:focus {
        box-shadow: 0 0 0 2px var(--medium-green), 0 0 0 6px rgba(158, 181, 153, .2) !important;
    }
}

.login-google {
    text-align: center;
    p {
        margin: 10px;
        color: grey;
    }
    .login-google-or {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        hr {
            flex-grow: 1;
            border: 0;
            border-top: 1px solid #ccc;
            width: 20%;
        }
    }
    .login-google-button {
        margin: 0;
        background: white;
        color: grey;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        box-shadow: 0 0 0 2px #f4f0f1;
        padding: 0;
        svg {
            width: 30px;
            height: 30px;
            margin-right: 10px;
        }
        span {
            padding: 1rem 0 1rem 0;
        }
    }
    .login-google-button:hover {
        box-shadow:#9eb599 0 0 0 2px;
    }
    .login-google-button:focus {
        box-shadow: 0 0 0 2px var(--medium-green), 0 0 0 6px rgba(158, 181, 153, .2) !important;
    }
}

.error-message {
    color: red;
    font-size: 0.875rem;
    margin-top: 0.5rem;
}

/* Media query voor tablets (schermen groter dan 350px) */
@media (min-width: 350px) {
    .login-form {
        max-width: 300px;
    }
}

/* Media query voor tablets (schermen groter dan 768px) */
@media (min-width: 768px) {
    .login-form {
        max-width: 400px;
    }
}
  
/* Media query voor desktops (schermen groter dan 1024px) */
@media (min-width: 1024px) {

}

