.blog {
  /* padding: 0 20px; */
  /* background-color: #f0f4f0; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 80px;
}

.blogs {
  padding: 0 5%;
}

.blog-intro {
  padding: 0 5%;
  padding-top: 100px;
  h2 {
    margin: 10px 0;
  }
}

.blog-post {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  display: flex;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  .blog-image-overlay {
    width: 100%;
    margin-right: 20px;
    transition: transform 0.5s ease;
    max-width: 150px;
  }
}

.blog-post:hover .blog-image-overlay {
  transform: scale(1.1);
}

.blog-image {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease;
}


.blog-content h2, .blog-content a, .blog-content p  {
  margin: 10px;
}

.blog-content-date {
  font-size: 0.8rem;
  color: darkgray;
}

.more-link {
  margin-top: 10px;
  color: #388e3c;
  text-decoration: none;
  font-weight: bold;
}

.nav-item {
  color: #8c8c8c;
  text-decoration: none;
  font-size: 16px;
}

.nav-item.active, .nav-item:hover {
  color: #000;
}

.blog-detail {
  /* .header {
    position: relative;
    height: 50vh;
    overflow: hidden;
  } */
  .blog-image-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
  }
  .blog-image-background {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .blog-detail-content {
    .blog-detail-intro {
      h2 {
        font-size: 3rem;
        font-weight:400;
        color: var(--medium-green);
      }
    }
    position: relative;
    z-index: 2;
    background: white;
    padding: 5%;
    border-radius: 20px 20px 0 0;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    .blog-content-date {
      margin: 0;
    }
    h2 {
      margin: 10px 0;
      font-size: 1.5rem;
      font-family: 'Montserrat', Helvetica, sans-serif;
    }
  }
}

.blog-comments {
  position: relative;
  z-index: 2;
  background-color: rgba(240, 245, 230, 0.7);
  padding: 20px 5% 200px 5%;
  .blog-comments-title {
    position: relative;
    margin: 0;
    color: var(--dark-green);
    .comments-count {
      background-color: var(--medium-green);
      padding: 0.2rem 0.5rem;
      border-radius: 100%;
      color: white;
      font-size: 0.8rem;
      position: relative;
      top: -10px;
    }
  }
  .blog-comments-create {
    padding-right: 5%;
    p {
      margin-top: 10px;
    }
  }
  form {
    padding-right: 5%;
  }
  form input, form textarea {
    width: 100%;
    padding: 10px 20px 0 20px;
    margin-top: 1rem;
    color: black;
  }
  form textarea::placeholder {
    color: var(--dark-green);
  }

  div {
    p {
      margin: 0;
    }
  }
  .comment {
    background: white;
    border-radius: 15px;
    margin-top: 1rem;
    padding: 0.5rem 0 0.5rem 0;
    display: flex;
    flex-direction: column;
    position: relative;
    p {
      margin-left: 20px;
    }
  }
  .comment-user {
    color: grey;
    font-size: 0.8rem;
  }
  .comment-date {
    color: gray;
    font-size: 0.8rem;
  }
  .comment-content {
    color: var(--dark-green);
    font-size: 1rem;
    margin: 10px 0;
  }
  .comment-delete {
    position: absolute;
    right: 0;
    top: 0;
    background: transparent;
    color: red;
  }
}

/* Media query voor tablets (schermen groter dan 768px) */
@media (min-width: 768px) {
  .blog-post {
    .blog-image-overlay {
      max-width: 300px;
    }
  }
}

/* Media query voor desktops (schermen groter dan 1024px) */
@media (min-width: 1024px) {
  
}

  