.login-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    .login-flow {
        .input-group {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 1rem;
        }
    }
}

.register {
    display: flex;
    flex-direction: column;
    background: var(--light-green);
}

.register-login {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.register-form {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    margin: 0 auto;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px #f4f0f1;
    label {
        display: flex;
    }
    button {
        margin: 0 auto;
        width: 100%;
        padding: 1rem 0 1rem 0;
        border-radius: 100px;
    }
}

.login-input {
    display: flex;
    align-items: center;
    position: relative;
    
    svg {
        position: absolute;
        left: 10px;
        path {
            fill: var(--dark-green);
        }
    }
    .email-icon {
        path {
            fill: none;
            stroke: #9eb599;
        }
    }
}

.input-with-icon {
    padding: 1rem 0 1rem 40px;
}

