.login-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    .login-flow {
        .input-group {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 1rem;
        }
    }
}

.register {
    display: flex;
    flex-direction: column;
    background: var(--light-green);
    padding-top: 100px;
}

.register-login {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    p {
        margin-top: 10px;
        margin-bottom: 5px;
    }
    a {
        text-decoration: none;
        margin-left: 10px;
    }
}

.register-form {
    max-width: 200px;
    width: 100%;
    padding: 20px;
    margin: 0 auto;
    margin-bottom: 40px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px #f4f0f1;
    h2 {
        margin: 0;
    }
    label {
        display: flex;
        margin-top: 10px;
        color: black;
    }
    button {
        margin: 0 auto;
        margin-top: 20px;
        width: 100%;
        padding: 1rem 0 1rem 0;
        border-radius: 100px;
    }
}

.login-input {
    display: flex;
    align-items: center;
    position: relative;
    
    svg {
        position: absolute;
        left: 10px;
        path {
            fill: var(--dark-green);
        }
    }
    .email-icon {
        path {
            fill: none;
            stroke: #9eb599;
        }
    }
}

.input-with-icon {
    padding: 1rem 0 1rem 40px;
}

.error-message {
    color: red;
    font-size: 0.875rem; /* Kleinere tekst */
    margin-top: 0.5rem; /* Ruimte boven de foutmelding */
}

/* Media query voor tablets (schermen groter dan 350px) */
@media (min-width: 350px) {
    .register-form {
        max-width: 300px;
    }
}

/* Media query voor tablets (schermen groter dan 768px) */
@media (min-width: 768px) {
    .register-form {
        max-width: 400px;
    }
}
  
/* Media query voor desktops (schermen groter dan 1024px) */
@media (min-width: 1024px) {

}
