/* src/PlantCard.css */
.plant-image {
  object-fit: cover;
  border-radius: 50%;
}

.plant-card h2 {
  font-size: 1.2em;
  color: #234A0F;
  margin: 0.5rem 0 0.5rem 0;
}

.plant-card a {
  margin-top: 10px;
  padding: 5px 10px;
  border: none;
  background-color: var(--dark-green);
  color: white;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.plant-card a:hover {
  background-color: var(--medium-green);
  color: white;
}

.plant-card-info-dots {
  padding: 0;
  margin: 0;
  .plant-info-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      svg path {
        stroke: var(--medium-green);
      }
    }
  }
  p {
    margin: 0;
      text-align: center;
  }
}


.favorite-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
}

.favorite-button:hover {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
}

.favorite-button.favorite {
  color: red;
}
