/* src/PlantCard.css */
.plant-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.plant-card h2 {
  font-size: 1.2em;
  color: #234A0F;
  margin: 0.5rem 0 0.5rem 0;
}

.plant-image-overlay {
  height: 50%;
}

.plant-card a {
  margin-top: 10px;
  padding: 5px 10px;
  border: none;
  background-color: var(--dark-green);
  color: white;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.plant-card a:hover {
  background-color: var(--medium-green);
  color: white;
}

.plant-card-info-dots {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  p {
    margin: 0;
  }
}


.favorite-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
}

.favorite-button:hover {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
}

.favorite-button.favorite {
  color: red;
}
