.search-page {
    padding: 70px 0 80px 0;
}

.detail-page {
  padding: 0;
  background: white;
  .detail-page-hero {
    position: relative;
    width: 100%;
    /* height: 40vh; */
    overflow: hidden;
    z-index: 1;
    margin: 0;
    .plant-image-overlay {
      position: relative;
      width: 400px;
      height: 400px;
      margin: 0 auto;
      margin-top: 100px;
      margin-bottom: 20px;
      z-index: 100;
      img {
        border-radius: 50%;
        width: 100%;
        height: 100%;
      }
    }
  }
  .other-plants {
    position: relative;
    z-index: 2;
    background: white;
    padding: 20px 0;
    h3 {
      padding: 0 5% 0 5%;
    }
    .other-plants-container {
      display: grid;
        padding: 0 5% 0 5%;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 20px;
        margin-top: 20px;
        justify-content: center;
        .other-plant {
          box-sizing: border-box;
          background-color: white;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          padding: 10px;
          border-radius: 10px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          max-width: 300px;
          .other-plant-image-overlay {
            width: 100%;
            max-height: 200px;
            overflow: hidden;
          }
          img {
            width: 100%;
            position: relative;
            object-fit: cover;
          }
          button {
            width: 100%;
          }
        }
    }
  }
}

.plant-image-background-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.plant-image-background {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.button-back {
  position: absolute;
  top: 20px;
  left: 0;
  margin: 0 0 0 5%;
  padding: 10px 5%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  svg {
    margin-right: 0.5rem;
    path {
      fill: white;
    }
  }
  p {
    color: white;
    margin: 0;
  }
}

.button-back:hover {
  background-color: rgba(0, 0, 0, 1);
  transition: 0.5s ease;
}

.button-favourite {
  position: absolute;
  top: 20px;
  right: 5%;
  cursor: pointer;
  background: none;
  border: none;
  font-size: 1.5rem;
  padding: 0;
}

.button-favourite:hover {
  position: absolute;
  background: transparent;
  padding: 0;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.search-intro {
  /* padding: 10px 5%; */
  background: white;
  position: relative;
  z-index: 100;
  overflow: hidden;
  width: 100%;
  .breadcrumb {
    position: relative;
    z-index: 2;
    padding: 0 5%;
    background-color: rgba(255,255,255,0.8);
  }
  .filter-desktop {
    display: block;
    padding: 0 5%;
    position: relative;
    z-index: 100;
  }
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;

  }
  .search-intro-header {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 0px 5% 40px 5%;
    position: relative;
    background-color: rgba(255,255,255,0.8);
    border-radius: 10px;
    h2 {
      margin: 0;
      z-index: 2;
      background-color: rgba(255,255,255,0.8);
    }
    p {
      z-index: 2;
      background-color: rgba(255,255,255,0.8);
      border-radius: 10px;
      padding: 10px;
    }
  }
}

.search-input {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 1.5rem;
  .search-icon {
    position: absolute;
    left: 10px;
    border-radius: 100%;
    border: 0.15rem solid #9eb599;
    padding: 0.5rem;
    path {
        stroke: #9eb599;
        stroke-width: 2px;
    }
  }
  .clear-icon {
    position: absolute;
    right: 20px;
    cursor: pointer;
    path {
      stroke: var(--medium-green);
    }
  }
}

.input-search-icon {
  width: 100%;
  padding: 1rem 0 1rem 65px;
  background: #f4f0f1;
  border: 0.15rem solid transparent;
  border-radius: 10px;
}

.input-search-icon:focus, .input-search-icon:hover, .input-search-icon:active  {
  border: 0.15rem solid var(--medium-green);
}

.input-search-icon:focus + .search-icon path {
  stroke: white;
}

.input-search-icon:focus + .search-icon, .input-search-icon:active + .search-icon {
  background: var(--dark-green);
  border-color: var(--dark-green);
}

.search-intro-text {
  padding: 0;
  margin: 10px 0 0 0;
}

.filters {
  margin-top: 10px;
}

.filters button {
  margin: 5px;
  padding: 10px;
  border: none;
  background-color: #457A14;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.filters button:hover {
  background-color: #234A0F;
}

.results {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  justify-content: center;
  padding: 0 5%;
}

.plant-card {
  box-sizing: border-box;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 300px;
  .plant-image-overlay {
    position: relative;
    width: 100%;
    height: 100%;
    max-height: 200px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      position: relative;
      /* object-fit: cover; */
      border-radius: 0;
    }
    button {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

.filter {
  /* margin: 5% 10px; */
  background: white;
  position: relative;
  /* max-width: 500px; */
  .filter-content {
    h3 {
      display: none;
    }
  }
}
.filter-desktop {
  /* width: 100%; */
  display: none;
  padding: 5% 5%;
  background: white;
}

.filter-more {
  background-color: #f4f0f1;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  z-index: 100;
  p {
    margin: 0;
    width: 100%;
  }
  .filter-more-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    svg {
      width: 15px;
    }
  }
  .filter-more-others {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    background: #f4f0f1;
    padding: 10px;
    cursor:auto;
    position: absolute;
    top: 30px;
    .filter-item {
      padding: 10px;
      background: white;
      border-radius: 10px;
      cursor: pointer;
      text-align: center;
      transition: 0.3s ease;
    }
    .filter-item:hover {
      box-shadow: 0 2px 4px var(--medium-green);
      background: var(--medium-green);
      color: white;
      
      svg path {
        stroke: white;
        fill: white;
      }
    }
  }
}

.selected-filters  {
  padding: 0 5%;
}

.filter-button {
  padding: 10px 20px;
  background-color: transparent;
  color: var(--dark-green);
  border: 0.2rem solid var(--dark-green);
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}
.filter-button:hover {
  background-color: transparent;
  border-color: var(--medium-green);
  color: var(--medium-green);
}

.filters-extra {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 5%;
}

.dropdown .css-13cymwt-control {
  background-color: #f4f0f1;
  border: 0.15rem solid transparent;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.dropdown .css-1u9des2-indicatorSeparator {
  background-color: transparent;
}

.dropdown .css-1xc3v61-indicatorContainer {
  color: var(--dark-green);
}

.dropdown.css-t3ipsp-control {
  border-color: var(--dark-green);
  box-shadow: none;
}

.dropdown input{
  margin-bottom: 0.1rem;
}

.css-d7l1ni-option {
  background-color: #f4f0f1;
}

.dropdown .css-1jqq78o-placeholder {
  color: var(--dark-green);
}

.dropdown .css-13cymwt-control:focus {
  background-color: white;
  border-color: var(--dark-green);
}

.dropdown .css-13cymwt-control:hover {
  border: 0.15rem solid var(--medium-green);
  border-color: var(--dark-green);
}


.plant-details {
  position: relative;
  background: var(--light-green);
  border-radius: 20px 20px 0 0;
  z-index: 99;
  /* min-height: 60vh; */
  padding: 20px 5%;
  h2 {
    font-weight: 800;
  }
  h3 {
    font-weight: 400;
  }
  .description {
    margin: 10px 0 10px 0;
  }
  .plant-info {
    display: flex;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    justify-content: center;
    .plant-info-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      background: white;
      border-radius: 20px;
      padding: 10px;
      h3 {
        margin: 0;
        font-size: 1rem;
      }
      .item-sunlight {
        display: flex;
        align-items: center;
        svg {
          margin-right: 0.5rem;
          path {
            fill: rgb(192, 192, 0);
          }
        }
      }
      .item-water {
        display: flex;
        align-items: center;
        svg {
          margin-right: 0.5rem;
          path {
            stroke: rgb(0, 154, 192);
          }
        }
      }
      .item-height {
        display: flex;
        align-items: center;
        svg {
          margin-right: 0.5rem;
          path {
            stroke: rgb(0, 177, 30);
          }
        }
      }
      .item-repot {
        display: flex;
        align-items: center;
        svg {
          margin-right: 0.5rem;
          path {
            fill: rgb(144, 74, 0);
          }
        }
      }
    }
  }
}

.plant-details-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0 0 0;
  .action-buttons {
    display: flex;
    align-items: center;
    gap: 20px;
    
  }
  h2 {
    margin: 0;
  }
  .button-plants {
    background-color: transparent;
    border: 0.1rem solid var(--dark-green);
    color: var(--dark-green);
    padding: 10px 5%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    p {
      margin: 0;
      color: var(--dark-green);
    }
    svg {
      margin-left: 0.5rem;
      margin-right: 0rem;
      fill: var(--dark-green);
    }
  }
  .button-plants:hover {
    background: var(--dark-green);
    color: white;
    p {
      color: white;
    }
    svg {
      fill: white;
      margin-left: 0.5rem;
      margin-right: 0rem;
    }
  }
  .button-plants:focus {
    outline: none;
  }
  .button-plants--checked {
    background-color: rgba(0, 0, 0, 1);
    color: white;
    border: 0.1rem solid rgba(0, 0, 0, 1);
    p {
      color: white;
    }
    svg {
      margin-right: 0.5rem;
      margin-left: 0rem;
      fill: white;
    }
  }
  .button-plants--checked:hover {
    background-color: transparent;
    color: var(--dark-green);
    border: 0.1rem solid var(--dark-green);
    p {
      color: var(--dark-green);
    }
    svg {
      margin-right: 0.5rem;
      margin-left: 0rem;
      fill: var(--dark-green);
    }
  }
}

.plants-results {
  position: relative;
  z-index: 1;
}
.results-filter {
  position: relative;
  z-index: 1;
}

/* Media query voor tablets (schermen groter dan 768px) */
@media (min-width: 768px) {
  .filter-desktop {
    width: auto;
    display: flex;
  }
  .search-intro .filter-desktop {
    display: none;
  }
  .results-filter {
    display: flex;
    flex-direction: row;
    padding: 0 5%;
    .filter {
      height: 100%;
      flex-grow: 1;
      width: 30vw;
      background: var(--light-green);
      margin: 0;
      margin-top: 20px;
      background: white;
      border-radius: 10px;
      .filter-content {
        background: white;
        padding: 5px 10px;
        border-radius: 10px;
        height: 100%;
        h3 {
          margin: 10px 0;
          display: block;
        }
        .filter-more-others {
          .filter-item {
            padding: 10px;
            width: 100%;
          }
        }
      }
    }
    .results {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
    }
  }
  .plants-results {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    margin-top: 20px;
    h3 {
      margin: 20px 0 0 0;
    }
  }
  
}

/* Media query voor desktops (schermen groter dan 1024px) */
@media (min-width: 1024px) {
  .results-filter {
    .filter {
      width: 25vw;
    }
  }
  .results-filter {
    display: flex;
    flex-direction: row;
    .filter {
      height: 100%;
      flex-grow: 1;
      width: 20vw;
      background: var(--light-green);
      margin-top: 20px;
    }
  }
  .plants-results {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    margin-top: 20px;
    h3 {
      margin: 20px 0 0 0;
    }
  }
  .search-page {
    padding: 80px 0 80px 0;
  }
  
  
}
