.market {
    background-color: var(--light-green);
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.toggle {
  display: flex;
  justify-content:space-around;
  margin-bottom: 20px;
  padding: 1rem 1rem;
  background: white;
  font-size: 1rem;
  transition: 0.3s ease;
}

.toggle-item {
  cursor: pointer;
  padding: 10px 20px;
  margin: 0 5px;
  color: var(--medium-green);
  background-color: white;
}

.toggle-item.active {
  color: var(--dark-green);
  font-weight: bold;
  border-bottom: 5px solid var(--dark-green);
}

.plus-button {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: var(--dark-green);
  cursor: pointer;
  transition: 0.33s ease;
  text-align: center;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  svg {
    width: 20px;
    height: 20px;
    padding: 10px;
    fill: white;
    margin: 0 auto;
  }
}

/* marketplace.css */
.marketplace {
  padding-top: 100px;
  background: var(--light-green);
  .marketplace-header {
    padding: 0 5%;
  }
}

.plants-list-market {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-start;
}

.plant-card-market {
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 10px;
  padding: 10px;
  flex: 1 1 calc(33.33%-10px);
  min-width: 200px;
  max-width: 400px;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  .plant-card-market-image-overlay {
    position: relative;
    width: 100%;
    height: 100%;
    max-height: 200px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      position: relative;
      object-fit: cover;
      border-radius: 0;
    }
  }
  .plant-card-market-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    div {
      display: flex;
      gap: 20px;
    }
    button {
      background: grey;
    }
    button:hover {
      background: darkgray;
    }
  }
  .card-username {
    color: grey;
  }
  .plant-price {
    font-weight: bold;
    font-size: 2rem;
    margin: 10px 0;
    p {
      margin: 10px 0;
    }
  }
  p {
    margin: 0;
  }
}

.buy-section {
  padding: 10px;
  border-radius: 5px;
}

.buy-section ul {
  list-style: none;
  padding: 0;
}

.buy-section li {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.buy-section li:last-child {
  border-bottom: none;
}

/* MARKT BUY */

.buy-section {
  padding: 0 5%;
  padding-bottom: 20px;
  .filter-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    padding: 20px;
    background: white;
    border-radius: 10px;
  }
  .sell-section-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

/* MARKT SELL */

.user-drafts-sell {
  .filter-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-bottom: 20px;
    button {
      background: transparent;
      border: 0.15rem solid black;
      color: black;
    }
    .active {
      border-color: black;
      background-color: black;
      color: white;
    }
    .active:hover {
      background-color: black;
      color: white;
    }
    button:hover:not(.active) {
      background-color: black;
      color: white;
    }
  }
}

.sell-section {
  padding: 0 5%;
  padding-bottom: 20px;
  .sell-section-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    h2 {
      margin: 0;
    }
  }
}


/* MARKT ADD */

.market-add-draft {
  padding-top: 100px;
  .breadcrumb {
    padding: 0 5%;
  }
  h2 {
    margin: 0 0 10px 0;
  }
}
.addDraft-form {
  margin: 10px 5%;
  background: white;
  max-width: 400px;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  .input-price {
    display: flex;
    flex-direction: column;
  }
  .select-plant {
    display: flex;
    flex-direction: column;
  }
  label {
    margin-bottom: 5px;
  }
  select {
    margin: 0;
            margin-bottom: 15px;
            margin-top: 5px;
            padding: 10px 0 10px 10px;
            width: 100%;
            background: #f4f0f1;
            border: none;
            border-radius: 10px;
  }
  button {
    margin-top: 20px;
  }
  
}


/* MEDIA QUERIES */
@media (min-width: 600px) {
  .plus-button {
    display: none;
  }
  .toggle {
    font-size: 1.5rem;
  }
}

/* MEDIA QUERIES */
@media (min-width: 1024px) {
  .toggle {
    font-size: 2rem;
  }
}

/* Responsieve aanpassingen */
@media (max-width: 1024px) {
  .plant-card-market {
    flex: 1 1 calc(50% - 10px);
  }
  
}

@media (max-width: 768px) {
  .plant-card-market {
    flex: 1 1 calc(50% - 10px);
  }
}

@media (max-width: 480px) {
  .plant-card-market {
    flex: 1 1 (100%-10px);
  }
}